<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<table border="1">
    <caption>Cars Table</caption>
    <tr>
        <th> carId</th>
        <th> model</th>
        <th> marka</th>
    </tr>

    <tr th:each="car:${car}">

        <td th:text="${car.carId}"> carId</td>
        <td th:text="${car.model}"> model</td>
        <td th:text="${car.marka}"> marka</td>
    </tr>
</table>
</body>
</html>